@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* styles for the body of the document */
body{
    background-color: #f5f1f5;
    min-height: 1500px;
    font-family:  'Montserrat', sans-serif;;
}
nav{
    position: relative;
    background-color: #1d1c1c;
}
/* STYLING THE WELCOME SECTION */
#gifbg{
    background: url("./assets/ezgif.com-optimize.gif");
    height:100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    display: flex;
}

.welcometext{
    margin: 0 auto;
    color: white;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}
/* HOW TO USE THE APP SECTION STYLES */
.stepPlacard{
background: url("./assets/Vector.png");
background-size: 480px 600px;   
background-repeat: no-repeat;
 text-align: center;
 justify-content: center;
 height: 600px;
 width: 480px;
 border: none;
}
.stepview{
    text-align: center;
    justify-content: center;
    height: 400px;
    width: 270px;  
}
.wrapper{
    display: flex;
}

.card-text{
    margin-left: 20px;
    margin-right: 20px;
    width: 200;
}
.stepImg{
    margin: 0 auto;
    height: 400px;
width: 270px;
border: 0px;
}
.step{
    display: flex;
}
.placardwrapper{
    margin: 0 auto;
    align-self: center;
    justify-content: center;
    align-items: center;
}
.phonewrapper{
    margin: 0 auto;
    align-self: center;
    justify-content: center;
    align-items: center;
}
/* Sneek peek into the app section */
.scrolling-wrapper{
    overflow-x: auto;
}
.appscreen{
    height: 500px;
}

/* APP FEATURES SECTION */
.homescreen{
    height: 75vh;
}

/* TIMER */
#demo{
    background-color: #121212;
}
/* STYLING THE FORM */
form{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 400px;
    display: block;
}
.btnsubmit{
    border-radius: 0px 20px 20px 0px;
}
.emailinput{
    border-radius: 20px 0px 0px 20px;
}

/* FOOTER STYLES */
footer{
    background-color:#121212
} 

@media (max-width: 600px){
    .appscreen{
        height: 200px;
    }
    form{
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        width: 250px;
        display: block;
    }    
    .placardwrapper{
            order: 1;
     }
     .phonewrapper{
        order: 2;
    }
    .stepPlacard{
        background-size: 320px 400px;   
        background-repeat: no-repeat;
         text-align: center;
         justify-content: center;
         height: 400px;
         width: 320px;
         margin-bottom: 25px;  

        }
}

